.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 40px;
}

.inputSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.input {
    border: 1px solid #0a0b0b;
    padding: 10px;
    border-radius: 5px;
    /* background-color: red; */

}

.listSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    /* background-color: green; */
}